/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.katex * {
  border-color: currentColor;
}

body, html {
  font-size: 18px;
}

.CodeMirror {
  height: 100%;
}
